    .container {
        margin-top: 20px;
    }
    
    .Cabecera {
        padding-left: 15px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }
    
    .Cabecera h1 {
        font: 500 normal 1.625em "Soberana Sans Bold";
        color: #2a3644;
        margin-top: 0;
        line-height: 1.15;
    }
    
    .search-result .thumbnail {
        border-radius: 0 !important;
    }
    
    .search-result .thumbnail:hover {
        border-color: #327522;
    }
    
    .search-result:first-child {
        margin-top: 0 !important;
    }
    
    .search-result {
        margin-top: 20px;
    }
    
    .search-result .col-md-2 {
        border-right: 1px dotted #ccc;
        /* min-height: 140px;*/
    }
    
    .search-result ul {
        padding-left: 0 !important;
        list-style: none;
        display: inline-block;
    }
    
    .search-result ul li {
        font: 400 normal .85em "Soberana Sans Bold";
        line-height: 30px;
        float: left;
        padding-right: 10px;
    }
    
    .search-result ul li i {
        padding-right: 5px;
    }
    
    .search-result .col-md-9 {
        position: relative;
    }
    
    .search-result h3 {
        font: 500 normal 1.375em "Soberana Sans Bold";
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
    
    .search-result h3>a,
    .search-result i {
        color: #327522 !important;
    }
    
    .search-result p {
        font: normal normal 1.125em Tahoma;
    }
    
    .search-result span.border {
        display: block;
        width: 97%;
        margin: 0 15px;
        border-bottom: 1px dotted #ccc;
    }
    
    #Titulo {
        font-family: Soberana Sans Bold;
        text-align: center;
        background: #327522;
        color: white;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        color: #fff;
        background-color: #327522;
        border-color: #327522;
    }
    
    .pagination>li>a,
    .pagination>li>span {
        color: #327522;
        background-color: #fff;
        border: 1px solid #327522;
    }
    
    .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover {
        color: #327522;
        background-color: #eee;
        border-color: #327522;
    }
    
    @media(min-width: 435px) {
        #Titulo {
            font-size: 6rem;
        }
    }